{% extends "layout.html.twig" %}

{% block content %}
 {# Add New Article Box #}
 {{ form_start(form) }}  
 {# display open tag of the form #}
  <section class="article">

      <h1 id="sign">Entrez les details de votre article :</h1>
   
      {# Title Input #}
      <div id="titreAnnonce">{{ form_label(form.artTitle) }}</div> 
      <div id="formbox"> {{ form_widget(form.artTitle) }}</div>
      <div class="formBoxError">{{ form_errors(form.artTitle) }}</div> 
      {# Price Input#}
      <div id="titreAnnonce">{{ form_label(form.artPrice) }}</div>
      <div id="formbox">{{ form_widget(form.artPrice) }} </div> 
      <div class="formBoxError">{{ form_errors(form.artPrice) }}</div>
      
      {# Category #}
      <div id="titreAnnonce">{{ form_label(form.artCategorie) }}</div>
      <div id="formbox"> {{ form_widget(form.artCategorie) }}</div>
      <div class="formBoxError">{{ form_errors(form.artCategorie) }}</div>
       {# Description #}
      <div id="titreAnnonce">{{ form_label(form.artDescription) }}</div> 
      <div id="formbox">{{ form_widget(form.artDescription) }} </div> 
      {# no error display #}

      {{ form_label(form.artPicture) }}
      
      </br>
      {# display form submit button #}
      <div> {{ form_row(form.submit) }} </div> 


  </section>
{{ form_rest(form) }}
{{ form_end(form) }} {# display close tag of the form #}
{% endblock %}
