{% extends "layout.html.twig" %}

{% block head %}
	{{ parent() }}
	<script src="{{ asset('js/admin/adminUser.js') }}"></script>
{% endblock %}

{% block content %}
<<<<<<< HEAD
	<div>
		{% if user is not null %}
			{{ user.username }} is connected with roles [
				{{ user.getRoles()|join(', ')|lower }}
			]
		{% endif %}
	</div>
	<h4>Create user :</h4>
	
	<form id="form_create_user">
		<div>
			<label for="user_username">Username :</label>
			<input type="text" name="user_username"/>
		</div>
		<div>
			<label for="user_password">Password :</label>
			<input type="text" name="user_password"/>
		</div>
		<div>
			<label for="user_role">Role :</label>
			<select name="user_role">
				<option value="ROLE_ADMIN">ROLE_ADMIN</option>
				<option value="ROLE_USER">ROLE_USER</option>
			</select>
		</div>
		<div>
			<label for="user_firstname">Firstname :</label>
			<input type="text" name="user_firstname"/>
		</div>
		<div>
			<label for="user_lastname">Lastname :</label>
			<input type="text" name="user_lastname"/>
		</div>
		<button type="button" id="btn_create_user">Send</button>
	</form>
	
    <h4>Current users :</h4>
	
	<ul id="userId">
	</ul>
=======
<container> 
<h1 class="annonces"> Articles </h1>
<div class="maincontent">      
    <div class="row">

            <div class="col-sm-3">
              <div class="card">
                <div class="card-body">
                  <img class="card-img-top" src="{{ asset("img/241901.jpg")}}" alt="dvd">  
                  <h4 class="card-title">Blu-Ray Justice League</h4>
                  <h5 class="card-price">40€</h5>
                  <p class="card-text">Blue-Ray Edition Collector du film "La Ligue des Justiciers" 2017</p>
                  <a href="#" class="btn">Details</a>
                </div>
              </div>
            </div>
           <div class="col-sm-3" >
             <div class="card">
               <div class="card-body">
                 <img class="card-img-top" src="{{ asset("img/clavier.jpg")}}" alt="clavier azerty">  
                 <h4 class="card-title">Clavier Azerty</h4>
                 <h5 class="card-price">40€</h5>
                 <p class="card-text">Clavier neuf,bvfeGYBEOZHBTEgfez </p>
                 <a href="#" class="btn">Details</a>
               </div>
             </div>
           </div>
          <div class="col-sm-3" >
              <div class="card">
                <div class="card-body">
                  <img class="card-img-top" src="{{ asset("img/lotr.jpg")}}" alt="Calivre lotr">  
                  <h4 class="card-title">Trilogie "LSDA"</h4>
                  <h5 class="card-price">10€</h5>
                  <p class="card-text">Compilation des trois tomes de la série "Le Seigneur des Anneaux"</p>
                  <a href="#" class="btn">Details</a>
                </div>
              </div>
            </div>
          </div>  


    <div class="row">
      <div class="col-sm-3">
        <div class="card">
          <div class="card-body">
            <img class="card-img-top" src=" {{ asset("img/kallax.jpg")}}" alt="meuble">  
            <h4 class="card-title">Etagère</h4>
            <h5 class="card-price">60€</h5>
            <p class="card-text">Meuble Ikea presque neuf, couleur blanc</p>
            <a href="#" class="btn">Details</a>
          </div>
        </div>
      </div>
     <div class="col-sm-3" >
       <div class="card">
         <div class="card-body">
           <img class="card-img-top" src="{{asset("img/bd.jpg")}}" alt="bd">  
           <h4 class="card-title">Bande Dessinées Batman</h4>
           <h5 class="card-price">15€</h5>
           <p class="card-text"></p>
           <a href="#" class="btn">Details</a>
         </div>
       </div>
     </div>
    <div class="col-sm-3" >
        <div class="card">
          <div class="card-body">
            <img class="card-img-top" src="{{asset("img/640.jpg")}}" alt="livre">  
            <h4 class="card-title">Livre</h4>
            <h5 class="card-price">10€</h5>
            <p class="card-text">Manuel Scolaire</p>
            <a href="#" class="btn">Details</a>
          </div>
        </div>
      </div>
    </div>       
</div>   
</container>    
>>>>>>> dd4690e2e943ca46ed9f3a8f97996c0580ff2349
{% endblock %}
