{% extends "layout.html.twig" %}

{% block content %}

{# Login form #}

<section class="login">     
     <div id="sign">Se connecter</div>  
     <form action="{{ path('admin_login_check') }}" method="post">
     {{ error }}        
       <input class="logininput" type="text" name="_username" value="{{ last_username }}" /> <br>
       <input class="logininput" type="password" name="_password" value="" /> <br>
       <a id="mdp" href="{{ path("password") }}"> Mot de passe oublié? </a>
       <input id="signupbutton"type="submit" value="Se connecter"/>          
     </form>
</section>      

 <div id="sidenav">     
         <a id="xlink" href="javascript:void(0)" class="closebtn" onclick="closeNav();">x</a>         
         <li id="lipadding"> <a href="{{ path("signin") }}"> Inscription </a> </li>
         <li> <a href="{{ path("login") }}"> Connexion </a> </li>

         <li> <a href="{{ path("account") }}"> Mon Compte </a> </li>
         <li> <a href="{{ path("logout") }}"> Deconnexion</a> </li>      
     </div>

    
     
     
     
     
<div id="sidenav">
    <ul>
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav();">x</a>
        <a href=""><li>A</li></a>
        <a href=""><li>B</li></a>
        <a href=""><li>C</li></a>
    </ul>
</div>

<div id="testdiv" onclick="openNav();">
</div>

         <li> <a href="{{ path("user") }}"> Mon Compte </a> </li>
         <li> <a href="{{ path("logout") }}"> Deconnexion</a> </li> 
 </div>
   


<script type="text/javascript" src="../js/jquery-3.2.1.min.js"></script>


<script>
function openNav() {
    document.getElementById("sidenav").style.width = "250px";
}

function closeNav() {
    document.getElementById("sidenav").style.width = "0";
}
</script>


{%endblock%}

