{% extends "layout.html.twig" %}

{% block content %}

{# Login form #}
    <form action="{{ path('admin_login_check') }}" method="post">


  <section class="login">     
     <div id="sign">Se connecter</div>  
     Username<br>     
     <input class="logininput" type="text" name="_username" value="{{ last_username }}" /> <br>
     Password<br>
     <input class="logininput" type="password" name="_password" value="" /> <br>
     <input id="signupbutton"type="submit" value="Se connecter"/>          
     
  </section>      
     <div id="sidenav">     
         <a id="xlink" href="javascript:void(0)" class="closebtn" onclick="closeNav();">x</a>
         <li> <a href="{{ path("signin") }}"> Inscription </a> </li>
         <li> <a href="{{ path("login") }}"> Connexion </a> </li>
         <li> <a href="{{ path("user") }}"> Mon Compte </a> </li>
         <li> <a href="{{ path("logout") }}"> Deconnexion</a> </li>      
     </div>

<script>
function openNav() {
    document.getElementById("sidenav").style.width = "250px";
}

function closeNav() {
    document.getElementById("sidenav").style.width = "0";
}

</script>
</form> 
{%endblock%}