{%extends "layout.html.twig" %}

{% block content %}

{# Research Display #}
<container>    
  <h1 id="search"> Resultats de la recherche : </h1>
    
  <div class="maincontent">      
     <div class="row">
        <div class="col-sm-12 col-md-3 col-md-offset-2" >
              <div class="card">
                <div class="card-body">
                  <img class="card-img-top" src="{{ asset("img/aquaman.jpg")}}" alt="aquaman">  
                  <h4 class="card-title">Aquaman T.3</h4>
                  <h5 class="card-price">15€</h5>
                  <p class="card-text">DC Rebirth | Tome 3 : La mort du roi</p>
                  <a href="#" class="btn">Details</a>
                </div>
              </div>
        </div>
        <div class="col-sm-12 col-md-3 col-md-offset-2" >
             <div class="card">
               <div class="card-body">
                 <img class="card-img-top" src="{{ asset("img/flash.jpg")}}" alt="flash">  
                 <h4 class="card-title">Flash T.1</h4>
                 <h5 class="card-price">17€</h5>
                 <p class="card-text">DC Rebirth | Tome 1 : De l'avant</p>
                 <a href="#" class="btn">Details</a>
               </div>
             </div>
        </div>
        <div class="col-sm-12 col-md-3 col-md-offset-2" >
              <div class="card">
                <div class="card-body">
                  <img class="card-img-top" src="{{ asset("img/jl.jpg")}}" alt="Calivre lotr">  
                  <h4 class="card-title">Justice League T.1"</h4>
                  <h5 class="card-price">10€</h5>
                  <p class="card-text"> DC Rebirth | Tome 1 : Aux Origines</p>
                  <a href="#" class="btn">Details</a>
                </div>
              </div>
         </div>
    </div>  


    <div class="row">
        <div class="col-sm-12 col-md-3 col-md-offset-2">
            <div class="card">
              <div class="card-body">
                <img class="card-img-top" src=" {{ asset("img/green.jpg")}}" alt="meuble">  
                <h4 class="card-title">Green Lantern T.3</h4>
                <h5 class="card-price">12€</h5>
                <p class="card-text">DC Rebirth | Tome 3 : La Troisième armée</p>
                <a href="#" class="btn">Details</a>
              </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-3 col-md-offset-2" >
           <div class="card">
             <div class="card-body">
               <img class="card-img-top" src="{{asset("img/bd.jpg")}}" alt="bd">  
               <h4 class="card-title">Batman T.2 </h4>
               <h5 class="card-price">15€</h5>
               <p class="card-text"> DC Rebirth | Tome 2 : La Nuit des Hiboux</p>
               <a href="#" class="btn">Details</a>
             </div>
           </div>
        </div>
        <div class="col-sm-12 col-md-3 col-md-offset-2  " >
            <div class="card">
              <div class="card-body">
                <img class="card-img-top" src="{{asset("img/ww.jpg")}}" alt="livre">  
                <h4 class="card-title">Wonder Woman T.5</h4>
                <h5 class="card-price">13€</h5>
                <p class="card-text">DC Rebirth | Tome 5 : War-Torn</p>
                <a href="#" class="btn">Details</a>
              </div>
            </div>
         </div>
    </div>       
   </div>   
</container>                
    
{%endblock%}    