{% extends "layout.html.twig" %}

{% block content %}
<div class="userInfo">
    <ul id="info">
       
        <li> Nom :  {{ user.getLastname()}}</li>
        <li> Prenom : {{ user.getFirstname()}}</li>
        <li> Adresse : {{ user.getNumber()}} {{ user.getStreet()}} {{ user.getCity()}} {{ user.getZip()}}</li> 
        <li> Pays : {{ user.getCountry()}}</li>
        <li> E-mail : {{ user.getemail()}}</li>
        <li> Telephone : {{ user.getTelephone()}}</li>  
    </ul>    
     
</div>   
<div class="create">
     <a href="{{ path("article") }}"> + Creer Annonce </a>
</div>    
 <section id="sidenav">     
    <a id="xlink" href="javascript:void(0)" class="closebtn" onclick="closeNav();">x</a>
    <ul>         
        <li id="lipadding"> <a href="{{ path("signin") }}"> Inscription </a> </li>
        <li> <a href="{{ path("login") }}"> Connexion </a> </li>
        <li> <a href="{{ path("account") }}"> Mon Compte </a> </li>
        <li> <a href="{{ path("logout") }}"> Deconnexion</a> </li>  
    </ul>
 </section> 
   
      


<script>
function openNav() {
    document.getElementById("sidenav").style.width = "250px";
}

function closeNav() {
    document.getElementById("sidenav").style.width = "0";
}

</script>
{% endblock %}