{% extends "layout.html.twig" %}

{% block content %}
	{{ form_start(form) }} {# display open tag of the form #}

		<fieldset>
			<legend>Person :</legend>
			<div class="row">
                            <div id="formerror">{{ form_errors(form.firstname) }}</div>
                            <div id="inscription">{{ form_label(form.firstname) }}</div>
                            <div id="inscription">{{ form_widget(form.firstname) }}</div>
			</div>			
                        <div id="inscription">{{ form_label (form.lastname) }}</div> <br>
                        <div id="inscription">{{ form_widget (form.lastname) }}</div> <br>
                        <div id="formerror">{{ form_error (form.lastname) }}</div> <br>
                        
                        <div id="inscription">{{ form_label (form.email) }}</div> <br>
                        <div id="inscription">{{ form_widget (form.email) }}</div> <br>
                        <div id="formerror">{{ form_error (form.email) }}</div> <br>
                        
                        <div id="inscription">{{ form_label (form.telephone) }}</div> <br>
                        <div id="inscription">{{ form_widget (form.telephone) }}</div> <br>
                        <div id="formerror">{{ form_error (form.telephone) }}</div> <br>
                        
                        <div id="inscription">{{ form_label (form.username) }}</div> <br>
                        <div id="inscription">{{ form_widget (form.username) }}</div> <br>
                        <div id="formerror">{{ form_error (form.username) }}</div> <br>
                        
                        <div id="inscription">{{ form_label (form.password) }}</div> <br>
                        <div id="inscription">{{ form_widget (form.password) }}</div> <br>
                        <div id="formerror">{{ form_error (form.password) }}</div> <br>
                        
                        <div id="inscription">{{ form_label (form.street)}}</div> <br>
                        <div id="inscription">{{ form_widget (form.street)}}</div> <br>
                        <div id="inscription">{{ form_error (form.street)}}</div> <br>
                        
                        <div id="inscription">{{ form_label (form.number)}}</div> <br>
                        <div id="inscription">{{ form_widget (form.number)}}</div> <br>
                        <div id="inscription">{{ form_error (form.number)}}</div> <br>
                        
                        <div id="inscription">{{ form_label (form.zip)}}</div> <br>
                        <div id="inscription">{{ form_widget (form.zip)}}</div> <br>
                        <div id="formerror">{{ form_error (form.zip)}}</div> <br>
                        
                        <div id="inscription">{{ form_label (form.city)}}</div> <br>
                        <div id="inscription">{{ form_widget (form.city)}}</div> <br>
                        <div id="formerror">{{ form_error (form.city)}}</div> <br>
                        
                        <div id="inscription">{{ form_label(form.country) }}</div> <br>
                        <div id="inscription">{{ form_widget(form.country) }}</div> <br>
                        <div id="formerror">{{ form_error(form.country) }}</div> <br>
		</fieldset>
	
		{{ form_row(form.submit) }}
		
		{{ form_rest(form) }}
	{{ form_end(form) }} {# display close tag of the form #}
{% endblock %}
