{% extends "layout.html.twig" %}

{% block content %}
	{{ form_start(form) }} {# display open tag of the form #}

		<fieldset>
			<legend>Person :</legend>
			<div class="row">
				<div class="xs-col-12">
					{{ form_errors(form.firstname) }}{# display form firstname error list #}
				</div>
				<div class="xs-col-3">
					{{ form_label(form.firstname) }}{# display form firstname label #}
				</div>
				<div class="xs-col-9">
					{{ form_widget(form.firstname) }}{# display form firstname widget #}
				</div>
			</div>
			{{ form_row(form.lastname) }}{# display form lastname label, input and error list #}
                        {{ form_row(form.email) }}
                        {{ form_row(form.telephone) }}
			{{ form_row(form.username) }}{# display form username label, input and error list #}
			{{ form_row(form.password) }}{# display form password label, input and error list #}
                        {{ form_row(form.street)}}
                        {{ form_row(form.number)}}
                        {{ form_row(form.zip)}}
                        {{ form_row(form.city)}}
                        {{ form_row(form.country) }}
		</fieldset>
	
		{{ form_row(form.submit) }}{# display form submit button #}
		
		{{ form_rest(form) }}
	{{ form_end(form) }} {# display close tag of the form #}
{% endblock %}
